In [22]:
import pandas as pd

data2 = pd.read_csv('employee_data.csv')
data2

,EmpID,FirstName,LastName,StartDate,ExitDate,Title,Supervisor,ADEmail,BusinessUnit,EmployeeStatus,...,Division,DOB,State,JobFunctionDescription,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating
0,3427,Uriah,Bridges,20-Sep-19,NaN,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,Finance & Accounting,07-10-1969,MA,Accounting,Female,34904,White,Widowed,Fully Meets,4
1,3428,Paula,Small,11-Feb-23,NaN,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,Aerial,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,Fully Meets,3
2,3429,Edward,Buck,10-Dec-18,NaN,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,General - Sga,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,Fully Meets,4
3,3430,Michael,Riordan,21-Jun-21,NaN,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,Finance & Accounting,04-04-1998,ND,Clerk,Male,58782,Other,Single,Fully Meets,2
4,3431,Jasmine,Onque,29-Jun-19,NaN,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,General - Con,29-08-1969,FL,Laborer,Female,33174,Other,Married,Fully Meets,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,Jakobe,Erickson,22-Jun-22,07-Aug-22,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,...,Engineers,23-06-1998,MA,Model Assistant,Female,44500,Other,Widowed,Fully Meets,3
2996,3423,Adyson,Strickland,28-Dec-20,NaN,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,...,Engineers,10-06-2001,MA,Engineer,Male,35444,Black,Widowed,Fully Meets,3
2997,3424,Annabel,Wilkins,09-Dec-20,04-Aug-22,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,...,Wireline Construction,27-01-1997,MA,Laborer,Male,6608,White,Single,Fully Meets,2
2998,3425,Kendra,Braun,28-May-19,23-Oct-21,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,...,Aerial,28-05-1954,MA,Foreman,Female,3807,Hispanic,Divorced,Fully Meets,2
2999,3426,Chace,Kerr,27-Apr-22,NaN,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,...,Field Operations,11-09-1990,MA,Warehouse Technician,Female,57487,White,Married,Fully Meets,2

In [21]:
import pandas as pd

# my first step is to drop the unnamec coloumn
columns_to_drop = ['Unnamed: 0']  
data2 = data2.drop(columns=columns_to_drop, errors='ignore')

# my second step i rename the dataset 
data2 = data2.rename(columns={
    'EmpID': 'EmployeeID',
    'FirstName': 'First Name',
    'LastName': 'Last Name',
    'StartDate': 'Start Date',
    'ExitDate': 'Exit Date',
    'ADEmail': 'Email',
    'BusinessUnit': 'Business Unit',
    'JobFunctionDescription': 'Job Function',
    'Performance_Score': 'Performance Score'
})

# my third step i fill missing data in exit column with still employed
data2['Exit Date'] = data2['Exit Date'].fillna('Still Employed')

# my fourth step i replace other missing values with 'Unknown' or 0
data2 = data2.fillna({'Supervisor': 'Unknown', 'Email': 'Unknown', 'Performance Score': 0})

# my fifth step Convert date columns to datetime
data2['Start Date'] = pd.to_datetime(data2['Start Date'], errors='coerce')
data2['Exit Date'] = pd.to_datetime(data2['Exit Date'], errors='coerce', format='%Y-%m-%d', exact=False)

# my step sixth step i Create additional calculated columns (tenure column)
data2['Tenure (Years)'] = data2.apply(
    lambda row: (pd.Timestamp.today() - row['Start Date']).days // 365 if pd.notna(row['Start Date']) else None,
    axis=1
)

# my seventh step i Ensure consistent formatting (tittle case for job functionand ensure numeric in performance score)
data2['Job Function'] = data2['Job Function'].str.title()  
data2['Performance Score'] = pd.to_numeric(data2['Performance Score'], errors='coerce')  

# my eight step (display the data ,display the first 5 row)
print(data2.info())
print(data2.head())

# my last step i save it in a different file to differentiate it from the original data 
data2.to_csv('Cleaned_Employee_Data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmployeeID                  3000 non-null   int64
 1   First Name                  3000 non-null   object
 2   Last Name                   3000 non-null   object
 3   Start Date                  3000 non-null   datetime64[ns]
 4   Exit Date                   0 non-null      datetime64[ns]
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   Email                       3000 non-null   object
 8   Business Unit               3000 non-null   object
 9   EmployeeStatus              3000 non-null   object
 10  EmployeeType                3000 non-null   object
 11  PayZone                     3000 non-null   object
 12  EmployeeClassificationType  3000 non-null   object
 13  TerminationType             3000 non-null   object
 14  TerminationDescription      1533 non-null   object
 15  DepartmentType              3000 non-null   object
 16  Division                    3000 non-null   object
 17  DOB                         3000 non-null   object
 18  State                       3000 non-null   object
 19  Job Function                3000 non-null   object
 20  GenderCode                  3000 non-null   object
 21  LocationCode                3000 non-null   int64
 22  RaceDesc                    3000 non-null   object
 23  MaritalDesc                 3000 non-null   object
 24  Performance Score           0 non-null      float64
 25  Current Employee Rating     3000 non-null   int64
 26  Tenure (Years)              3000 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(20)
memory usage: 632.9+ KB
None
   EmployeeID First Name Last Name Start Date Exit Date  \
0        3427      Uriah   Bridges 2019-09-20       NaT
1        3428      Paula     Small 2023-02-11       NaT
2        3429     Edward      Buck 2018-12-10       NaT
3        3430    Michael   Riordan 2021-06-21       NaT
4        3431    Jasmine     Onque 2019-06-29       NaT

                     Title       Supervisor                          Email  \
0  Production Technician I     Peter Oneill    uriah.bridges@bilearner.com
1  Production Technician I  Renee Mccormick      paula.small@bilearner.com
2       Area Sales Manager   Crystal Walker      edward.buck@bilearner.com
3       Area Sales Manager   Rebekah Wright  michael.riordan@bilearner.com
4       Area Sales Manager        Jason Kim    jasmine.onque@bilearner.com

  Business Unit EmployeeStatus  ...         DOB State Job Function GenderCode  \
0          CCDR         Active  ...  07-10-1969    MA   Accounting     Female
1            EW         Active  ...  30-08-1965    MA        Labor       Male
2            PL         Active  ...  06-10-1991    MA    Assistant       Male
3          CCDR         Active  ...  04-04-1998    ND        Clerk       Male
4           TNS         Active  ...  29-08-1969    FL      Laborer     Female

  LocationCode  RaceDesc MaritalDesc Performance Score  \
0        34904     White     Widowed               NaN
1         6593  Hispanic     Widowed               NaN
2         2330  Hispanic     Widowed               NaN
3        58782     Other      Single               NaN
4        33174     Other     Married               NaN

  Current Employee Rating Tenure (Years)
0                       4              5
1                       3              1
2                       4              6
3                       2              3
4                       3              5

[5 rows x 27 columns]

In [17]:
data2

,EmployeeID,First Name,Last Name,Start Date,Exit Date,Title,Supervisor,Email,Business Unit,EmployeeStatus,...,DOB,State,Job Function,GenderCode,LocationCode,RaceDesc,MaritalDesc,Performance Score,Current Employee Rating,Tenure (Years)
0,3427,Uriah,Bridges,2019-09-20,NaT,Production Technician I,Peter Oneill,uriah.bridges@bilearner.com,CCDR,Active,...,07-10-1969,MA,Accounting,Female,34904,White,Widowed,NaN,4,5
1,3428,Paula,Small,2023-02-11,NaT,Production Technician I,Renee Mccormick,paula.small@bilearner.com,EW,Active,...,30-08-1965,MA,Labor,Male,6593,Hispanic,Widowed,NaN,3,1
2,3429,Edward,Buck,2018-12-10,NaT,Area Sales Manager,Crystal Walker,edward.buck@bilearner.com,PL,Active,...,06-10-1991,MA,Assistant,Male,2330,Hispanic,Widowed,NaN,4,6
3,3430,Michael,Riordan,2021-06-21,NaT,Area Sales Manager,Rebekah Wright,michael.riordan@bilearner.com,CCDR,Active,...,04-04-1998,ND,Clerk,Male,58782,Other,Single,NaN,2,3
4,3431,Jasmine,Onque,2019-06-29,NaT,Area Sales Manager,Jason Kim,jasmine.onque@bilearner.com,TNS,Active,...,29-08-1969,FL,Laborer,Female,33174,Other,Married,NaN,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3422,Jakobe,Erickson,2022-06-22,NaT,Production Technician I,Bethany Carter,jakobe.erickson@bilearner.com,PYZ,Leave of Absence,...,23-06-1998,MA,Model Assistant,Female,44500,Other,Widowed,NaN,3,2
2996,3423,Adyson,Strickland,2020-12-28,NaT,Production Technician I,Caroline Harris,adyson.strickland@bilearner.com,SVG,Active,...,10-06-2001,MA,Engineer,Male,35444,Black,Widowed,NaN,3,4
2997,3424,Annabel,Wilkins,2020-12-09,NaT,Production Technician I,Mr. James Castillo,annabel.wilkins@bilearner.com,TNS,Voluntarily Terminated,...,27-01-1997,MA,Laborer,Male,6608,White,Single,NaN,2,4
2998,3425,Kendra,Braun,2019-05-28,NaT,Production Technician I,Michael Woods,kendra.braun@bilearner.com,WBL,Voluntarily Terminated,...,28-05-1954,MA,Foreman,Female,3807,Hispanic,Divorced,NaN,2,5
2999,3426,Chace,Kerr,2022-04-27,NaT,Production Technician I,Javier Mccall,chace.kerr@bilearner.com,BPC,Active,...,11-09-1990,MA,Warehouse Technician,Female,57487,White,Married,NaN,2,2